//#region Imports

import { ApiProperty } from '@nestjs/swagger';
import { IsDefined } from 'class-validator';

import { BaseCrudCreatePayload } from '../../../common/base-crud-create.payload';
import { DefaultValidationMessages } from '../../../models/enums/default-validation-messages';

//#endregion

/**
 * A classe que representa o payload enviado para criar um $Entity$Entity
 */
export class Create$Entity$Payload extends BaseCrudCreatePayload {



}
